<nav class=" relative bg-gray-900 shadow-[0_8px_20px_rgba(0,0,0,0.4)] px-0 lg:px-[10%] z-50 h-[4.5rem]">    
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto h-full">

        <!-- ! LOGO -->
        <a data-aos="fade-right" data-aos-duration="800" data-aos-delay="0" href="/" class="flex items-center space-x-3 rtl:space-x-reverse ">
            <img src="/images/chemten_logo.svg" class="h-10" alt="Chemten Logo" />
            <span class="self-center text-3xl font-semibold whitespace-nowrap dark:text-white">
                CHEM<span class="text-[#ec8305]">TEN</span>
            </span>
        </a>

        <!-- ! COLLAPSE BUTTON -->
        <button id="navbar-toggle-btn" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>

        <!-- ! NAVIGATION -->
        <div id="navbar-items"
        class="transition-all duration-300 ease-in-out 
                overflow-hidden max-h-0 flex flex-col space-y-2 w-full mt-4 
                lg:max-h-none lg:h-full lg:overflow-visible lg:flex lg:flex-row  lg:space-y-0  lg:w-auto lg:mt-0">

            <div class="navbar-item">
                <a href="/compounds" class="navbar-link">Compounds</a>
            </div>
            <div class="navbar-item">
                <a href="/about" class="navbar-link">Company</a>
            </div>
            <div class="navbar-item">
                <a href="/contact" class="navbar-link">Contact</a>
            </div>
            <div class="navbar-item">
                <a href="/compounds" class="navbar-link">Something</a>
            </div>

        </div>
   
    </div>
  </nav>

